@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LeaveManagementWebClient.Models.ViewModels.LeaveRequestViewModel
@{
    ViewData["Title"] = "Leave Request Page";
    Layout = "_MainLayout";
}

@*<link rel="stylesheet" href="~/css/Datepicker.css" type="text/css" />*@

<h1>New Leave Request</h1>

<h4>Leave Request</h4>
<hr />

<div class="row">
    <div class="col-md-8">
        <form action="/Dashboard/NewLeaveReq" method="post">
            <div class="form-group">
				<label for="leaveType" class="form-label">Leave Type</label>
				<select id="leaveType" class="form-select">
					<option selected>Choose...</option>
					<option value="1">Cuti Sakit</option>
					<option value="2">Cuti Hamil</option>
                    <option value="3">Cuti Penting</option>
			    </select>
			</div>
            <div class="form-group row">
                <div class="input-group input-daterange">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label asp-for="startDate" class="control-label">Start Date</label>
                        <input type="text" mame="startDate" id="startDate" class="form-control" />
                        <span asp-validation-for="startDate" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="startDate"  class="control-label">End Date</label>
                        <input type="text" name="endDate" id="endDate" class="form-control" />
                        <span asp-validation-for="endDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label name="requestedDays" class="control-label">Requested Days</label>
                <input name="requestedDays" id="requestedDays" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label name="reason" class="control-label">Reason</label>
                <input name="reason" id="reason" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Request" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/Leave/NewLeaveRequest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
}